.auth-page {
  &__form {
    max-width: 270px;
    padding: 30px;
    margin: 70px auto;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    background: #9e9e9e;
  }

  &__field {
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    min-height: 25px;
  }

  &__submit {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #2c2c2c;
    padding: 10px 20px;
    cursor: pointer;
  }
}







