.auth-page__form {
  max-width: 270px;
	padding: 30px;
  margin: 70px auto;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  background: #9e9e9e;
  }

.auth-page__field {
  margin-bottom: 25px;
}

.auth-page__input {
  width: 100%;
  min-height: 25px;
}

.auth-page__submit {
  border-radius: 10px;
  border: 1px solid #2c2c2c;
  padding: 10px 20px;
 
}

